.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    flex-basis: 39rem;
    padding: 2rem 3rem 2.5rem 3rem;
  }
}
@media screen and (max-width: 780px) {
  .sidebar {
    flex-basis: 30rem;
    padding: 2rem 3rem 2.5rem 3rem;
  }
}
@media screen and (max-width: 620px) {
  .sidebar {
    transition: 1s;
    z-index: 99999;
    width: 100%;
    position: absolute;
  }
  .SideBarClose {
    transform: translate(0, -100rem);
  }
  .SideBarOpen {
    transform: translate(0, 0rem);
  }
}
